@font-face {
  font-family: 'featured-item';
  src: url('../fonts/featureditem-webfont.woff2') format('woff2'), url('../fonts/featureditem-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
