body {
  background-color: $white;
  box-shadow: inset 0 7px 0 0 $orange;
  min-width: 320px;
}

a {
  text-decoration: none;
}

header {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: relative;
}

.header__logo {
  margin-bottom: 20px;
  max-width: 400px;
  width: 40%;
}
